[Unit]
Description=Caddy HTTP/2 web server
Documentation=https://caddyserver.com/docs
After=network.target

[Service]
PermissionsStartOnly=true
PIDFile=/var/www/caddy.pid
LimitNOFILE=8192
User=www-data
WorkingDirectory=/var/www
ExecStartPre=/sbin/setcap cap_net_bind_service=+ep /opt/bin/customCaddy
ExecStart=/opt/bin/customCaddy -pidfile /var/www/caddy.pid -agree=true -email miek@miek.nl -conf=/opt/etc/Caddyfile
Restart=on-failure

[Install]
WantedBy=multi-user.target
